<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>推荐</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div style="height:3rem;background: #999;">
    <span onclick="history.go(-1)" class="glyphicon glyphicon-chevron-left" style="padding-left:1rem;line-height: 3rem;"></span>
</div>
<h1 style="line-height: 80vh;text-align: center">推荐</h1>
</body>
</html>